<h2 class="daily_status_heading">Daily Status</h2>
<form name="dailystatusform">
    <div id="dailystatuscontainer">
        <div>
            <label>Date</label>
            <label>Project</label>
            <label>Activity Type</label>
            <label>Time Spend</label>
        </div>
        <div>
            <select data-ng-options="option as option|date:'dd/MM/yyyy' for option in dateList" class="daily_status_dropdown" data-ng-model="selectedDate"></select>

            <select ng-options="option.ProjectName for option in project" class="daily_status_dropdown" ng-model="selectedProject">
            </select>
            
            <select name="activityType" class="daily_status_dropdown" data-ng-model="activityType" ng-options="option.ActivityType for option in activity" id="activityType" required>
                <option value="">Select...</option>
            </select>

            <select name="hour" class="daily_status_dropdown" data-ng-model="selectedHour" data-ng-options="option as option for option in hourList" id="hour"></select>
            <span>hr</span>

            <select name="min" class="daily_status_dropdown" data-ng-model="selectedMinute" ng-options="option.label for option in minList" id="min"></select>
            <span>min</span>
        </div>

        <div>
            <span ng-show="dailystatusform.activityType.$error.required && (dailystatusform.activityType.$dirty || submitted)" class="error_msg" >This field is required.</span>
        </div>

        <div>
            <label class="daily_status_label1">Activity Description</label>
        </div>

        <div>
            <textarea name="description" type="text" ng-model="activitydescription" rows="4" cols="50" required></textarea>
        </div>
        <div>
            <span id="activeDes" ng-show="dailystatusform.description.$error.required && (dailystatusform.description.$dirty || submitted)" class="error_msg">This field is required.</span>
        </div>
        <div class="buttondiv"><input class="savebutton" type="button" value="Save" ng-click="saveDailyStatus()" /></div>
    </div>
</form>

<h2 class="daily_status_heading">My History</h2>
<div id="daily_status_list">
    <div class="Table">
        <div class="Heading">
            <div class="Cell">
                <p>Activity Date</p>
            </div>
            <div class="Cell">
                <p>Project Name</p>
            </div>
            <div class="Cell">
                <p>Activity Type</p>
            </div>
            <div class="Cell">
                <p>Time Spend</p>
            </div>
            <div class="Cell">
                <p>Activity Description</p>
            </div>
        </div>
        <div class="Row" ng-repeat="dailystatus in dailystatuslist | orderBy: 'dailystatus.ActivityDate':true">
            <div class="Cell">
                <p>{{dailystatus.ActivityDate|date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="Cell">
                <p>{{dailystatus.ProjectName}}</p>
            </div>
            <div class="Cell">
                <p>{{dailystatus.ActivityType}}</p>
            </div>
            <div class="Cell">
                <p>{{dailystatus.Hour}} hr {{dailystatus.Min}} min</p>
            </div>
            <div class="Cell">
                <p>{{dailystatus.Description}}</p>
            </div>
        </div>
    </div>
</div>

