<form name="frmVacationRequest">
    <div class="vacation_Outterdiv">
        <h2>Request Vacation</h2>
        <div class="vacation_table">

            <div>

                <div class="vaction_remain_text">
                    <label>No of Vacation Remaining&nbsp;</label>
                    <span>{{remainingVacationCount}}</span>

                </div>
                <div class="vaction_remain_text">
                    <label>No of Loss of Pay Taken&nbsp;</label>
                    <span>{{noOfLossOfPayTaken}}</span>

                </div>


            </div>
            <table>
                <tr>
                    <td class="vacation_table_cell">No. of Days</td>
                    <td class="vacation_table_cell">Vacation From <span class="vacation_DateFormat">[DD/MM/YYYY]</span></td>
                    <td class="vacation_table_cell">To <span class="vacation_DateFormat">[DD/MM/YYYY]</span></td>
                    <td class="vacation_table_cell">Type of Vacation</td>
                    <td class="vacation_table_cell">Send Request To</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" ng-model="noOfDays" name="daysCount" class="vacation_days" required />

                    </td>
                    <td>
                        <input type="text" data-datepicker="{theme: 'flat'}" data-ng-model="vacationFrom" name="vacationFrom" required />
                      
                        
                    </td>
                    <td>
                        <input type="text" data-datepicker="{theme: 'flat'}" data-ng-model="vacationTo" name="vacationTo" required  />
                                           
                    </td>
                    <td>
                        <select name="vacationType" class="vacation_dropdown" data-ng-model="vacationMode" ng-options="option.VacationType as option.VacationType for option in vacationTypes" id="vacationType"></select>
                    </td>
                    <td>
                        <select name="requestTo" data-ng-model="requestTo" class="vacation_dropdown" ng-options="option.Name as option.Name for option in employees" id="requestTo" required>
                            <option value="">Select...</option>
                        </select>
                        
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-show="frmVacationRequest.daysCount.$error.required && (frmVacationRequest.daysCount.$dirty || submitted)" class="val_msg">This field is required.</span>
                    </td>
                    <td>
                        <span ng-show="frmVacationRequest.vacationFrom.$error.required && (frmVacationRequest.vacationFrom.$dirty || submitted)" class="val_msg">This field required.</span>

                    </td>

                    <td>

                        <span ng-show="frmVacationRequest.vacationTo.$error.required && (frmVacationRequest.vacationTo.$dirty || submitted)" class="val_msg">This field is required.</span>
                    </td>
                    <td></td>
                    <td>
                        <span ng-show="frmVacationRequest.requestTo.$error.required && (frmVacationRequest.requestTo.$dirty || submitted)" class="val_msg">This field is required.</span>

                    </td>
                </tr>
            </table>
            <div class="MT_Twenty">

                <div>Send Copy To</div>

                <div class="MT_Ten">
                    <input type="text" ng-model="sendCopyTo" class="send_copyTo" />
                </div>
            </div>
            <div class="MT_Twenty">
                <div>Comments</div>
                <div class="MT_Ten">
                    <textarea ng-model="comments" name="comments" class="vacation_comments" required></textarea>
                    <br/>
                    <span ng-show="frmVacationRequest.comments.$error.required && (frmVacationRequest.comments.$dirty || submitted)" class="val_msg">This field is required.</span>
                </div>
            </div>
            <div class="MT_Twenty">
                <button type="button" class="vacation_submitbtn" ng-click="SaveVacation()">Submit</button>
            </div>
        </div>


        <h2>My History</h2>

        <div class="vacation_yearSelect">

            <span>Year:</span>
            <select name="year" ng-model="yearSelection" ng-options="year for year in yearList" ng-change="GetFilteredVacations(yearSelection)"></select>
        </div>

        <div id="vacation_list">
            <div class="Table">
                <div class="Heading">
                    <div class="Cell">
                        <p>Date Range</p>
                    </div>
                    <div class="Cell">
                        <p>No of Days</p>
                    </div>
                    <div class="Cell">
                        <p>Type of Vacation</p>
                    </div>
                    <div class="Cell">
                        <p>Approver</p>
                    </div>
                    <div class="Cell">
                        <p>Status</p>
                    </div>
                    <div class="Cell">
                        <p>Remarks</p>
                    </div>
                </div>
                <div class="Row" ng-repeat="vacation in vacations">
                    <div class="Cell">
                        <p>{{vacation.VacationFrom}} - {{vacation.VacationTo}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{vacation.Noofdays}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{vacation.VacationType}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{vacation.SendRequestTo}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{vacation.Status}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{vacation.Remarks}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</form>